<!-- assets/javascripts/discourse/templates/admin/discourse_api_settings.html.haml -->

{{discourse-api-settings}}

<h2>Discourse API Configuration</h2>
<div>
  <label>API Key for Discourse API authentication</label>
  {{input value=dmu_discourse_api_key placeholder="API Key for Discourse API authentication"}}
</div>
<div>
  <label>User for API authentication</label>
  {{input value=dmu_discourse_api_username placeholder="system"}}
</div>
<div>
  <label>Discourse server URL for API</label>
  {{input value=dmu_discourse_api_url placeholder="https://discourse.youth-care.eu"}}
</div>
<button class="btn btn-primary" {{action "saveSettings"}}>Save</button>

